<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KPMGs Bemanningslanterne</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable@latest/dist/handsontable.full.min.css">
    <script src="https://cdn.jsdelivr.net/npm/handsontable@latest/dist/handsontable.full.min.js"></script>
</head>

<body>
    <div class="container">
        <h1>Bemanningsplanleggingsverktøy</h1>
        <p>Velg planen du vil justere:</p>
        <select id="sheetSelector">
            <option value="bemanningsplan">Bemanningsplan</option>
            <option value="ppp">PPP</option>
            <option value="døgnrytmeplan">Døgnrytmetabell</option>
        </select>
        <div id="hot-container"></div>
        <button id="addRowButton">Legg til rad</button>
        <button id="saveChanges">Lagre Endringer</button>
    </div>

    <!-- Plott sammenligning -->
    <div class="compare-container">
        <div class="plot-section" id="plot-section-1">
            <h2>Opplevd Pasientintensitet - Valg 1</h2>
            <div class="controls">
                <label for="tidsperiode-1">Tidsperiode:</label>
                <select id="tidsperiode-1">
                    <option value="hele perioden">hele perioden</option>
                    <option value="custom">Custom</option>
                </select>
                <div class="datoer" id="datoer-1" style="display: none;">
                    <label for="start-dato-1">Startdato:</label>
                    <input type="date" id="start-dato-1">
                    <label for="slutt-dato-1">Sluttdato:</label>
                    <input type="date" id="slutt-dato-1">
                </div>

                <label for="aggregering-1">Aggregering:</label>
                <select id="aggregering-1">
                    <option value="hele perioden">hele perioden</option>
                    <option value="gjennomsnittlig uke">gjennomsnittlig uke</option>
                    <option value="beste uke">beste uke</option>
                    <option value="dårligste uke">dårligste uke</option>
                    <option value="gjennomsnittlig dag">gjennomsnittlig dag</option>
                    <option value="beste dag">beste dag</option>
                    <option value="dårligste dag">dårligste dag</option>
                    <option value="gjennomsnittlig skift">gjennomsnittlig skift</option>
                    <option value="beste skift">beste skift</option>
                    <option value="dårligste skift">dårligste skift</option>
                </select>

                <label for="visualiseringskolonne-1">Visualiseringskolonne:</label>
                <select id="visualiseringskolonne-1">
                    <option value="SI">SI</option>
                    <option value="Reell_PPP">Reell PPP</option>
                    <option value="PreDef_PPP">Egendefinert PPP</option>
                </select>

                <label for="skift-1">Skift:</label>
                <select id="skift-1">
                    <option value="alle skift">Alle</option>
                    <option value="dag">Dag</option>
                    <option value="kveld">Kveld</option>
                    <option value="natt">Natt</option>
                </select>


                <label for="plan-1">Bemanningsplan:</label>
                <select id="plan-1">
                    <option value="">Laster inn planer...</option>
                </select>



                <button class="plot-btn" id="plot-btn-1">Vis Plot</button>
            </div>
            <div class="plot-container">
                <img class="plot-img" id="plot-1" src="" alt="">
                <div id="table-container-1"></div>
            </div>
        </div>

        <div class="plot-section" id="plot-section-2">
            <h2>Opplevd Pasientintensitet - Valg 2</h2>
            <div class="controls">
                <label for="tidsperiode-2">Tidsperiode:</label>
                <select id="tidsperiode-2">
                    <option value="hele perioden">hele perioden</option>
                    <option value="custom">Custom</option>
                </select>
                <div class="datoer" id="datoer-2" style="display: none;">
                    <label for="start-dato-2">Startdato:</label>
                    <input type="date" id="start-dato-2">
                    <label for="slutt-dato-2">Sluttdato:</label>
                    <input type="date" id="slutt-dato-2">
                </div>

                <label for="aggregering-2">Aggregering:</label>
                <select id="aggregering-2">
                    <option value="hele perioden">hele perioden</option>
                    <option value="gjennomsnittlig uke">gjennomsnittlig uke</option>
                    <option value="beste uke">beste uke</option>
                    <option value="dårligste uke">dårligste uke</option>
                    <option value="gjennomsnittlig dag">gjennomsnittlig dag</option>
                    <option value="beste dag">beste dag</option>
                    <option value="dårligste dag">dårligste dag</option>
                    <option value="gjennomsnittlig skift">gjennomsnittlig skift</option>
                    <option value="beste skift">beste skift</option>
                    <option value="dårligste skift">dårligste skift</option>
                </select>

                <label for="visualiseringskolonne-2">Visualiseringskolonne:</label>
                <select id="visualiseringskolonne-2">
                    <option value="SI">SI</option>
                    <option value="Reell_PPP">Reell PPP</option>
                    <option value="PreDef_PPP">Egendefinert PPP</option>
                </select>

                <label for="skift-2">Skift:</label>
                <select id="skift-2">
                    <option value="alle skift">Alle</option>
                    <option value="dag">Dag</option>
                    <option value="kveld">Kveld</option>
                    <option value="natt">Natt</option>
                </select>



                <label for="plan-2">Bemanningsplan:</label>
                <select id="plan-2">
                    <option value="">Laster inn planer...</option>
                </select>



                <button class="plot-btn" id="plot-btn-2">Vis Plot</button>
            </div>
            <div class="plot-container">
                <img class="plot-img" id="plot-2" src="" alt="">
                <div id="table-container-2"></div>
            </div>
        </div>
    </div>
    <section class="faq-text-container">
        <p class="faq-text">
            Velkommen til vår FAQ-seksjon! Her finner du svar på de vanligste spørsmålene om tjenesten vår. Hvis du ikke finner svaret du leter etter, kan du gjerne kontakte oss.
        </p>
        <a href="{{ url_for('faq') }}" class="go-to-faq">Les våre FAQ</a>
    </section>

    <script src="/static/script.js"></script>
</body>
</html>