<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login KPMGs Bemanningslanterne</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="/static/style_login.css">
</head>
<body>

    <h1>Login Page</h1>

    <form action="{{url_for('index')}}" method="POST">
        <input type="text" name="username" placeholder="Usernname" required="required"><br>
        <input type="password" name="password" placeholder="Password" required="required"><br>
        <input type="text" name="stay" placeholder="Sykehus, Avdeling, Post" required="required"><br>
        <input type="text" name="description" placeholder="Noen ytterligere beskrivelser"><br>
        <input type="submit" value="Login">
    </form>
</body>
</html>
